body {
    font-family: Verdana;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #629E8F;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #111111;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #9DBEB6;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  